.old-browser {
  font-weight: 600;
  background-color: #E7E9F0;
  padding: 10px;
  width: 100%;
  text-align: center;
  margin: 0 0 5px 0;
}

.home .old-browser {
  background: #fff;
  margin-bottom: -3px;
}

#home-index .old-browser {
  background-color: #26272c;
  color: #f4f4f4;
}