<script type="text/template" id='emailItem'>
  <li class="email-wrapper">
    <a class='email' data-email="{{value}}">
      <span>Email:</span>{{value}}
    </a>
  </li>
</script>

<script type="text/template" id='userItem'>
  {{#items}}
    <li>
      <a>
        {{#avatar_thumb_url}}
          <img src="{{.}}" width=25 height=25 />
        {{/avatar_thumb_url}}
        
        {{label}}
        {{#team}}
         - {{.}}
        {{/team}}
      </a>
    </li>
  {{/items}}
</script>

<script type="text/template" id='teamItem'>
  {{#items}}
    <li>
      <a>
        {{label}}
      </a>
    </li>
  {{/items}}
</script>