<section id="culture">
  
  <div class="row-fluid">
    <div class="span4 offset1">
      <%= image_tag "firstuser/people.png", alt: "Engaged employees" %>
    </div>
    <div class="span7">
      <h2><%= t("culture_of_recognition.culture_of_employee_recognition")%></h2>
      
      
      <ul class="bullet-list marginBottom10">
        <li><h4>Highlight staff at company meetings.</h4></li>
        <li><h4>Remind recognition at daily team standups.</h4></li>
        <li><h4>Recognize someone every couple days.</h4></li>          
      </ul>
      
      <%= link_to "Contact us to discuss your company recognition strategy", contact_path, class: "button"%>
      
    </div>
  </div>
</section>