
  <script type="text/javascript">
    window.R.instantRecognition = new window.R.instantRecognition();
  </script>

  <div id="instantRecognition-wrapper" style="display: none;">
    <div id="instantRecognition" class="clearfix">
      <div>
        <h4><%= t("instant.who_is_doing_great_work") %></h4>
        <p><%= t("instant.instructions") %></p>
      </div>
      <div id="people-wrapper" class="clearfix"><%= image_tag "https://i.imgur.com/qkKy8.gif'"%></div>
    </div>
    <hr class="hr marginBottom20">
  </div>

