<p>I'm sorry to say your account is now disabled, because we haven't seen any activity from your company. If you want to reenable your account you will need to contact us.</p>

<p>Contact us: <br>
<%= link_to contact_url, contact_path %>

<p><strong>If we don't hear from you, your account will be deleted in seven days.</strong></p>

<p>We want your feedback, please tell us what you are looking for in an employee appreciation platform. You may shoot a reply to this email.</p>