<p>Say it isn't so!</p>

<p>We see you didn't verify your account with Recognize. This will be our last email concerning your account. Are you sure there isn't anyone in your company that deserves recognition?</p>

<p>Just in case you are interested in giving Recognize another go, here is the verification link.</p>

<p>Verification Link: <a href="<%= @verification_url %>"><%= @verification_url %></a></p>

<p>Thanks again, and remember you can always directly email us or send us a tweet at <a href="http://www.twitter.com/recognizeapp">@recognizeapp</a>.</p>