<p>To continue using Recognize, please verify your email.</p>

<p>Verification Link: <a href="<%= @verification_url %>"><%= @verification_url %></a></p>

<p>Do you have any questions about the application? Feedback is very important to us and I would love to hear from you.</p>

<p>Thanks again, and you can reply to this email or send us a tweet at <a href="http://www.twitter.com/recognizeapp">@recognizeapp</a>.</p>

