<p>We see you haven't been using Recognize recently. Is there anyone in your world who deserves appreciation for their great work?</p>

<p>Send a recognition today: <br>
<%= link_to new_recognition_url(@user.network), new_recognition_url(@user.network)%></p>
  
<p>Here are a few suggestions for recognizing coworkers:<br>
- A coworker who is always on time.<br> 
- Someone who lifts people's spirits<br>
- They went above and beyond a requirement.<br> 
- A teammate who is thorough or efficient.</p> 

<p>Everyone deserves recognition every day. It is up to you to motivate your coworkers.</p>

<p>Do you have any questions about Recognizeapp.com? If we aren't reaching your needs, please do not hesitate to contact us. We always appreciate customer feedback.</p>