<p>We see you have gotten started with Recognize. Great work inviting your coworkers!</p> 

<p>Can you think of a reason to recognize any of your coworkers?</p> 

<p>Send a recognition: 
<%= link_to new_recognition_url(@user.network), new_recognition_url(@user.network)%></p>

<p>Pro tip: When you recognize someone and they aren't already in Recognize, they are automatically invited.</p> 

<p>Do you have any questions about the application? If we aren't reaching your needs, please do not hesitate to contact us. We always appreciate customer feedback. </p>