<%= @body.html_safe %>
<% if @sender.email == "josh@recognizeapp.com" %>
<table style="font-family: lato, helvetica, arial, sans-serif;">
  <tbody>
    <tr>
      <td style="vertical-align: top;">
        <img src="https://recognizeapp.com/assets/chrome/logo-mark.png" width=33 height=33 style="margin-right: 3px;">

      </td>
      <td style="vertical-align: top;">
        <h5 style="font-weight: 200; line-height: 15px; color: #333; font-size: 15px; margin: 0 0 3px 0;">Josh Jermaine</h5>
        <h6 style="font-weight: 200; line-height: 15px; margin: 0 0 0 0; color: #adadad; font-size: 15px;">Vice-President of Sales</h6>
      </td>
    </tr>

  </tbody>
</table>

<table style="font-family: lato, helvetica, arial, sans-serif;">
  <tbody>
  <tr>
    <td>
      <p style="margin: 0 0 0px 0; color: #333; font-size: 12px;"><span style="color: #2c79a7; width: 17px; display: inline-block;">m</span> josh@recognizeapp.com</p>
    </td>
    </tr>
    <tr>
    <td>
      <p style="margin: 0 0 0px 0; color: #333; font-size: 12px;"><span style="color: #2c79a7; width: 17px; display: inline-block;">p</span> +1.888.401.8837</p>
    </td>
    </tr>
    <tr>
    <td>
      <p style="margin: 0 0 0 0; color: #333; font-size: 12px;"><span style="color: #2c79a7; width: 17px; display: inline-block;">w</span> https://recognizeapp.com</p>
    </td>
    </tr>
    <tr>
    <td>
      <p style="margin: 0 0 1px 0; color: #333; font-size: 12px;"><span style="color: #2c79a7; width: 17px; display: inline-block;">t</span> @recognizeapp</p>
    </td>
    </tr>
    <tr>
    <td>
      <p style="margin: 0 0 0 0; color: #333; font-size: 12px;"><span style="color: #2c79a7; width: 17px; display: inline-block;">o</span> 479 Jessie St.  <br><span style="margin-left: 20px;"> San Francisco, CA, 94103 USA</span></p>
    </td>
    </tr>
  </tr>
  </tbody>
</table>
<% end %>