<h2 style="<%= mail_styles(:h2, :text, :title) %> padding: 0;">Password Reset Link</h2><br>

<a href="<%= @edit_password_reset_url%>" style="<%= mail_styles(:button) %> margin-bottom: 30px;">Click here to reset password</a>

<p style="<%= mail_styles(:p) %>">Email us at <strong class="font-weight: 600;">support@recognizeapp.com</strong> if you need any assistance.</p>