<div class="centeredPage">
  <div class="centered">
    <h1>You have been successfully unsubscribed.</h1>
    <p>You may manage your notification preferences at any time.</p>
    <%= link_to "Change email settings by editing your profile", edit_user_url(@user), class: "button" %>
  </div>
</div>