<footer class="footer-exp clearfix">
  <div class="inner">
    <ul class="no-bullets">
      <li class="subtext"><a href="http://blog.recognizeapp.com">Blog</a></li>
      <li class="subtext"><a href="http://support.recognizeapp.com">Knowledge &amp; FAQ</a></li>
      <li class="subtext"><a href="/company-engagement-strategy.pdf">HR Philosophy Strategy</a></li>
      <li class="subtext"><a href="/recognize-security-overview.pdf">Security</a></li>
      <li class="subtext"><a href="/terms">Terms of Use</a></li>
      <li class="subtext"><a href="/privacy">Privacy Policy</a></li>
    </ul>

    <ul class="no-bullets" data-no-turbolink='true'>
      <li class="subtext"><%= link_to "Contact Us", contact_sales_path, class: "button button-highlight" %></li>
      <li class="subtext"><a href="mailto:support@recognizeapp.com">Support@recognizeapp.com</a></li>
      <li class="subtext"><a href="mailto:sales@recognizeapp.com">Sales@recognizeapp.com</a></li>

      <li class="subtext">Recognize HQ<br>479 Jessie St.<br>San Francisco, 94103, CA</li>
      <li class="subtext"><a href="tel:8884018837">(888) 401-8837</a></li>
    </ul>

    <p class="subtext">Recognize was created to promote the power of positivity. Our goal is to help companies have excellent company culture through empowerment and motivation. We believe employee recognition and rewards is an intregral part of any company. We will work with all companies of any size to help make that happen. Recognize is a Recognize Services Inc product. </p>
    <p class="marginTop10">
      <a target="_blank" href="https://www.mcafeesecure.com/verify?host=recognizeapp.com"><img class="mfes-trustmark" border="0" src="//cdn.ywxi.net/meter/recognizeapp.com/101.gif" width="125" height="55" title="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" alt="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" oncontextmenu="window.open('https://www.mcafeesecure.com/verify?host=recognizeapp.com'); return false;"></a>
      <!-- End McAfee SECURE Certification Trustmark for recognizeapp.com -->

    </p>
  </div>

</footer>
