<div class="quote">
  <%= image_tag "pages/home-casestudy/jay.png", alt: "Goodway Group's COO, Jay Friedman", width: "150" %>
  <div class="content">
    <q>"We can reinforce our core values and behaviors, and even use custom badges to set goals for people."</q>
    <span>Jay Friedman, COO, Goodway Group</span>
  </div>
</div>