<%= content_for :title, "Distributed Workforce Infographic" %>

<section id="intro" class="animate-hidden animate-1 animate" data-no-turbolink="true">
  <div class="inner">
    <h1 class="balance-text">The Distributed Workforce Infographic</h1>
    <p class="balance-text">We are dedicated to helping distributed workforces find the right tools to keep their team's moving.</p>
    <div data-no-turbolink>
      <a href="/contact" class="button button-primary">Contact us to add recognition to your team</a>
      <a href="/recognize-distributed-workforce-infographic.png" class="button">Download infographic</a>
    </div>
  </div>
</section>

<div id="infographic-wrapper" class="animate-hidden animate-2 animate centered">
  <%= image_tag "pages/home-distributed_workforce_infographic/recognize-distributed-workforce-infographic.jpg", alt: "The distributed workforce infographic brought to you by Recognize" %>
</div>

<%= render :partial => 'footer' %>