<!DOCTYPE HTML>
<div><%= Time.now.to_s %></div>
<script src="/assets/3p/xdomain.js"></script>
<script type="text/javascript">
    window.recognize.xdomain.masters({
      "https://*.yammer.com": "*"
    });  
</script>