<section id="action">
  <div class="inner">  
    <div class="content">
      <h1 class="balance-text">Recognize Sign Up</h1>

      <div class="relative">
        <%= render :partial => "email_form"%>
      </div>


    </div>
  </div>
</section>