<div class="flex-centered">

  <div class="congrats centered">
    <h1>Congratulations!</h1>
    <p>Your account is activated. Here is a list of next steps.</p>

    <%= render partial: "companies/check_list" %>
  </div>

</div>
