<div class="centered flex-centered">
  <div class="high-count-inner">
    <h1>Check your email.</h1>
    <p>The size of your company is large enough for an account manager to be assigned to you.</p>
    <%= link_to new_recognition_path, class: "button" do %>
      Take the tour
    <% end %>
    <a href="javascript://" class="button button-primary slideable-trigger" data-from="#user-count-high" data-to="#user-count-low">Purchase now</a>
  </div>
</div>