<div class="value-props clearfix">
  <ul>
    <li>
      <%= image_tag "icons/blue-thin/happy.png", alt: "Happy person" %>
      <div class="content">
        <h3>Reduce employee turnover</h3>
        <p class="balance-text">Manager to employee recognition creates an all-for-one culture.</p>
      </div>
    </li>
    <li>
      <%= image_tag "icons/blue-thin/speedometer.png", alt: "Speedometer" %>
      <div class="content">
        <h3>Increase productivity</h3>
        <p class="balance-text">Focus staff on core values through customizable recognition badges, flexible rewards, and one-click certificates.</p>
      </div>
    </li>
    <li>
      <%= image_tag "icons/blue-thin/flag.png", alt: "Flag" %>
      <div class="content">
        <h3>Increase profits</h3>
        <p class="balance-text">Create sales and customer service competitions through leaderboards, badges, and points. Staff will have more fun and work harder.</p>
      </div>
    </li>
    <li>
      <%= image_tag "icons/blue-thin/ios7-pulse.png", alt: "Pulse" %>
      <div class="content">
        <h3>Revitalize the organization</h3>
        <p class="balance-text">Staff that use Recognize send 2x to 8x more recognitions. Sending and receiving thanks in a social way to improve morale.</p>
      </div>
    </li>

  </ul>
</div>
