aws:
  default:
  aws_access_key_id: 
  aws_secret_access_key: 
  region: 
  bucket: 
  cloud_front:
pusher: 
  app_id: 
  key: 
  secret: 
yammer:
  client_id: 
  client_secret: 
  namespace:
stripe:
  secret_key:
  public_key:
segment:
  write_key: 
optimizely:
  key:
#slack: # tokens are relative to slack - so outgoing means outgoing from slack, and incoming means incoming to slack
#  outgoing_token: 
#  incoming_token: 
#closeio:
#  api_key:
#twilio:
#  sid:
#  token:
#  number: