development:
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  database: latitude_dev
  username: root
  password: 
  # socket: /var/run/mysqld/mysqld.sock 
  host: 127.0.0.1
  # socket: /tmp/mysql.sock
  
production:
  adapter: mysql2
  encoding: utf8
  database: latitude_production
  username: root
  password: 
  socket: /var/run/mysqld/mysqld.sock
  # socket: /tmp/mysql.sock
  
test:
  adapter: mysql2
  database: myapp_test
  username: travis
  encoding: utf8
  host: 127.0.0.1

