<div id="accounts" class="tab tab-pane pagelet" data-endpoint="<%= accounts_company_path(network: @company.domain) %> #wrapper-outer .wrapper">
<p class="subtle-text"><%= image_tag("icons/ajax-loader-company.gif") %> Loading Employees...</p>
</div>
