<div id="rewards" class="tab tab-pane pagelet" data-endpoint="<%= company_rewards_path %> #wrapper-outer .wrapper">
  <p class="subtle-text"><%= t("dict.loading") %> <%= t("dict.rewards") %></p>
</div>