<div id="rank" class="tab tab-pane pagelet" data-endpoint="<%= reports_company_path(network: @company.domain, sort: params[:sort], badge_id: params[:badge_id], team_id: params[:team_id], start_date: params[:start_date], end_date: params[:end_date], interval: params[:interval]) %> #wrapper-outer .wrapper">
<p class="subtle-text"><%= image_tag("icons/ajax-loader-company.gif") %> Loading Top Employees...</p>
</div>