<h2 style="<%= mail_styles(:h2, :text, :title) %>"><%=t("rewards.admin_email_header", name: @redeeming_user.first_name, email: @redeeming_user.email, reward_title: @reward.title)%></h2><br/>

<h3 style="<%= mail_styles(:h3, :text, :title) %>"><%=t("rewards.please_see_them")%></h3>