<h3>We're sorry</h3>

<p>We've received your email but could not send a recognition as there appears to not be any recipients in the TO field of the email.</p>

<p>Please try again. If you believe this to be an error, please contact us at support@recognizeapp.com</p>