<ul class="blue-links" data-no-turbolink="true">
  <li><a id="home-tour-page-bottom-link" href="/tour">Tour Recognize</a></li>
  <li><a id="home-office365-page-bottom-link" href="/office-365">Office 365 integration</a></li>
  <li><a id="home-pricing-page-bottom-link" href="/pricing">Pricing and features</a></li>
  <li><%= link_to "Engagement", engagement_path, id: "home-engagement-page-bottom-link", class: "analyticsClick", itemprop: "relatedLink" %></li>
  <li><%= link_to "Customizations", customizations_path, id: "home-customizations-page-bottom-link", itemprop:"relatedLink" %></li>
  <li><%= link_to "Analytics", analytics_path, id: "home-analytics-page-bottom-link", itemprop:"relatedLink" %></li>
  <li><%= link_to "FAQ", "http://support.recognizeapp.com", target: "_blank" %></li>
</ul>
