<h2>A new subscription has been paid for! </h2>
<p>User: <%= @subscription.user.label %> - <%= @subscription.email%></p>
<p>Company: <%= @subscription.user.company.label %></p>
<p>Department: <%= @subscription.department %>

